<%= form_with(model: mybook, local: true) do |form| %>
  <% if mybook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mybook.errors.count, "error") %> prohibited this mybook from being saved:</h2>

      <ul>
      <% mybook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :mybook_name %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :mybook_city %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :mybook_city %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :mybook_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
