<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mybook.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @mybook.city %>
</p>

<p>
  <strong>City:</strong>
  <%= @mybook.city %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mybook.email %>
</p>

<%= link_to 'Edit', edit_mybook_path(@mybook) %> |
<%= link_to 'Back', mybooks_path %>
